# Node
node_modules/
**/node_modules/

# Environment files
.env
**/.env
.env.*
*.env
backend/.env
frontend/src/.env
# Python
__pycache__/
**/__pycache__/
*.py[cod]

# Logs
*.log

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db
backend/venv

# IDE
.vscode/
.idea/