version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: remote_monitor
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    volumes:
      - ./backend/app:/app/app
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/remote_monitor
      - SECRET_KEY=devsecretkey
      - ACCESS_TOKEN_EXPIRE_MINUTES=1440
    ports:
      - '8000:8000'
    depends_on:
      - db

  frontend:
    working_dir: /app
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - '5173:5173'
    depends_on:
      - backend

volumes:
  db_data:
